body{
    background-color: rgb(77, 77, 77);
    background-image: url(image/background.png);
}
.container-login{
    width: 325px;
    height: 400px;
    display: inline-block;
    background-color: rgba(56, 56, 56, 0.2);
    backdrop-filter: blur(5px) ;
    border-radius: 50px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 20px rgba(41, 41, 41, 0.99);

    
    
}
.container-login:hover{
    box-shadow: 0px 0px 20px rgba(40, 179, 155, 0.99);
}

.logo,.logo:hover{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.logo-div{
    text-align: center;
    margin-top: 30px;

}
p{
    font-family: handjet;
    color: white;
}
.header,header:hover{
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
}
.inputs{
    text-align: center;
    margin-top: 30px;
}
.user-input{
    margin-bottom: 12px;
    width: 200px;
    height: 40px;
  /*  border-radius: 50px; */
   /* border-width: 0; */
    border-style: solid;
    text-align: center;
    font-family: handjet;
    font-size: 15px;
   /* background-color: gray; */
    color: white;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0;
}
.user-input:hover{
    border-bottom: 1.5px solid rgba(40, 179, 155, 0.2);
}
.user-input::placeholder{
    color: rgba(255, 255,255, 0.5);

}
.second-header{
    text-align: center;
    font-size: 15px;
    font-family: handjet;
    color: white;
    margin-top: 0;
    
}
.remember,.forgot-password{
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
    opacity: 50%;
    margin-top: 0;
    
}
.forget-password{
    text-decoration: none;
    color: white;
    font-style: italic;
    opacity: 50%;
    font-size: 14px;
}
.forget-password:hover{
    color:  rgb(92, 247, 221);
}
.checkbox{
    width: 18px;
    margin: 0;
}
.third-header{
    text-align: center;
    margin-top: 10px;
}
.login{
    font-size: 17px;
    font-family: handjet;
    letter-spacing: 5px;
    margin: 0;
    padding-left: 35px;
    padding-right: 33px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: none;
    background: rgba(255, 255,255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;

}
.login:hover{
    background-color:  rgba(92, 247, 221, 0.5);
    cursor: pointer;
}
.join{
    display: block;
    text-decoration: none;
    font-family: handjet;
    color: white;
    margin-top: 10px;
    opacity: 30%;  
}
.join:hover{
    color:  rgb(92, 247, 221) ;
}
nav a{
    text-decoration: none;
    all: unset;
    font-family: handjet;
    font-weight: bold;
    font-size: 25px;
    margin-left: 0px;
    text-align: center;
    color: white;
    
    
}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
nav li{
    display: inline-block;
    
}
.navigator-div{   
    gap: 20px;
    border-radius: 50px;
    margin-top: 5px;
    width: 100%;
    /* background-image: linear-gradient(to left, rgba(50, 150, 163, 0.1), rgba(62, 128, 111, 0.048)); */
    background-color: rgba(56, 56, 56, 0.2);
    cursor: pointer; 
    backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 100% ;
    max-width: 1000px;
    top: 0;
    bottom: 880px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(41, 41, 41, 0.99);
}
.navigator-div:hover{
    box-shadow:  0px 0px 20px rgba(40, 179, 155, 0.99);
    
      
}
nav a:hover{
   text-shadow: 0px 0px 20px rgba(40, 179, 155, 0.99);
}






